$yellow = #fcd606
$light-grey = #c4c4c4
$red = #c72c2c
$green = #4f9646


body
    background black
    font-family 'Poppins', sans-serif
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    
a
    text-decoration none